html,
body {
  overflow: hidden;
  margin: 0;
  height: 100vh;
  font-family: Roboto, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--b2bColorsSurfaceLevel00);
  color: var(--b2bColorsTextBase90);
}

#root {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}
