{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "tabWidth": 2,
  "printWidth": 120,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^api(/.*)$",
    "^components(/.*)$",
    "^consts(/.*)$",
    "^features(/.*)$",
    "^helpers(/.*)$",
    "^routing(/.*)$",
    "^HOCs(/.*)$",
    "^hooks(/.*)$",
    "^layouts(/.*)$",
    "^routes(/.*)$",
    "^store(/.*)$",
    "^types(/.*)$",
    "^ui-kit(/.*)$",
    "^utils(/.*)$",
    "^common(/.*)$",
    "^[../]",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderParserPlugins": ["typescript", "classProperties", "decoratorAutoAccessors", "decorators", "jsx"]
}
